body {
    width: 50%;
    margin: 0 auto;
}

.container {
    margin-bottom: 10px;
    text-align: center;
}

.square {
    width: 150px;
    height: 210px;
    background-color: #ededed;
    display: inline-block;
}

.image {
    padding-top: 10px;
    padding-left: 25px;
    width: 100px;
    display: block;
    position: absolute;
}

#price {
    position: relative;
    width: 25px;
    height: 15px;
    background-color: green;
    left: 125px;
}

#pricered {
    position: relative;
    width: 25px;
    height: 15px;
    background-color: red;
    left: 125px;
}

p {
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
}

.heart {
    position: relative;
    text-align: center;
    width: 20px;
}

.cuore {
    font-size: 20px;
    display: inline-block;
    margin-top: 7px;
    color: red;
    opacity: 0;
    padding: 155px 70px 5px 70px;
}

.cuore:hover {
    opacity: 1;
}
